* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  cursor: pointer;
  /* border: 2px solid black; */
}
html,
body {
  width: 100%;
  height: 100%;
}
nav {
  position: fixed;
  top: 0;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  z-index: 9;
  background-color: white;
}
nav ul {
  gap: 30px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav ul li:hover {
  color: red;
  cursor: pointer;
}

#main {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, auto);
}
#main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 5px solid green; */
}
.img-box:nth-child(1) {
  grid-area: 1 / 1 / span 2 / span 2;
}
.img-box:nth-child(8) {
  grid-area: 3 / 3 /4/5;
}
.img-box:nth-child(9) {
  grid-area: 4 / 1/4/3;
}
.img-box:nth-child(14) {
  grid-area: 5/ 3/5/5;
}
.pink {
  background-color: rgba(247, 136, 155, 0.863);
  width: 0%;
  height: 70px;
  position: absolute;
  display: flex;
  transition: 0.6s;
  align-items: center;
  justify-content: flex-end;
  top: 40%;
  transition: 0.6s;
}
.black {
  background-color: rgba(0, 0, 0, 0.692);
  width: 0%;
  height: 70px;
  position: absolute;

  top: 40%;

  display: flex;
  align-items: center;
  right: 0%;
  transition: 0.6s;
}
.img-box {
  position: relative;
  overflow: hidden;
}
.img-box img {
  transition: 1s;
}
.img-box:hover img {
  transform: rotate(3deg) scale(1.1);
}
.box-p {
  display: flex;
  justify-content: center;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
  width: max-content;
  transition: 0.6s;
  border: 2px solid;
}
.box1 {
  transition: 0.6s;
  color: rgb(250, 75, 104);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  width: 50px;
  background-color: white;
  height: 50px;
}
.box2 {
  transition: 0.6s;
  color: rgb(250, 75, 104);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  width: 50px;

  background-color: white;
  height: 50px;
}
.img-box:hover .black {
  margin-left: 0;
  width: 50%;
}
.img-box:hover .pink {
  width: 50%;
  margin-left: 0;
}

.img-box:hover .box-p {
  opacity: 1;
  margin-top: 0px;
  transform: translate(-50%, -50%);
}

.box2:hover {
  background-color: black;
  color: white;
}
.box1:hover {
  background-color: black;
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer img {
  padding: 30px 0px;
}
footer span {
  padding-bottom: 30px;
}
footer ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-bottom: 2%;
}
@media screen and (max-width: 768px) {
  #main {
    margin-top: 60px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto) repeat(3, 6.67%) repeat(3, auto);
  }
  .img-box:nth-child(1) {
    grid-area: 1 / 1 / 2 /2;
  }

  .img-box:nth-child(2) {
    grid-area: 1 / 2 / 2 /2;
  }
  .img-box:nth-child(3) {
    grid-area: 2/ 1 / 2 /2;
  }
  .img-box:nth-child(4) {
    grid-area: 2/ 2 / 2 /2;
  }
  .img-box:nth-child(5) {
    grid-area: 3/ 1 / 4 /2;
  }
  .img-box:nth-child(6) {
    grid-area: 4/ 2 / 3 /2;
  }
  .img-box:nth-child(7) {
    grid-area: 4/ 1 / 8/2;
  }
  .img-box:nth-child(8) {
    grid-area: 4/ 2 / 5/2;
  }
  .img-box:nth-child(9) {
    grid-area: 7/ 1 / 9/2;
  }
  .img-box:nth-child(10) {
    grid-area: 5/ 2 / 9/2;
  }
  .img-box:nth-child(11) {
    grid-area: 9/ 1 / 10/2;
  }
  .img-box:nth-child(12) {
    grid-area: 9/ 2 / 10/2;
  }
  .img-box:nth-child(13) {
    grid-area: 10/ 1 / 11/2;
  }
  .img-box:nth-child(14) {
    grid-area: 11/ 1 / 12/3;
  }
}
@media screen and (max-width: 320px) {
  #main {
    margin-top: 60px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(14, auto);
  }
  nav ul {
    display: none;
  }
  .img-box:nth-child(1) {
    grid-area: 1 / 1 / 2 /2;
  }

  .img-box:nth-child(2) {
    grid-area: 2 / 1 / 3 /2;
  }
  .img-box:nth-child(3) {
    grid-area: 3 / 1 / 4 /2;
  }
  .img-box:nth-child(4) {
    grid-area: 4/ 1 / 5 /2;
  }
  .img-box:nth-child(5) {
    grid-area: 5/ 1 / 6 /2;
  }
  .img-box:nth-child(6) {
    grid-area: 6/ 1 / 7 /2;
  }
  .img-box:nth-child(7) {
    grid-area: 7/ 1 / 8 /2;
  }
  .img-box:nth-child(8) {
    grid-area: 9/ 1 / 10 /2;
  }
  .img-box:nth-child(9) {
    grid-area: 11/ 1 / 12 /2;
  }
  .img-box:nth-child(10) {
    grid-area: 12/ 1 / 13 /2;
  }
  .img-box:nth-child(11) {
    grid-area: 14/ 1 / 15 /2;
  }
  .img-box:nth-child(12) {
    grid-area: 16/ 1 / 17 /2;
  }
  .img-box:nth-child(13) {
    grid-area: 18/ 1 / 19 /2;
  }
  .img-box:nth-child(14) {
    grid-area: 20/ 1 / 21 /2;
  }
}
